@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f7f5f0;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans" ,Arial, Helvetica, sans-serif;
    font-weight: 300;
}

header {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    
}

nav{
    width: 100%;
    height: 120px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.logo {
    text-align: center;
    font-size: 50px;
    color: #222;
}


ul{
    list-style: none;
    padding: 20px;
    margin: 0;
}

li {
    display: inline;
    margin: 5px;
    padding: 0;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #222;
    transition: 0.2s;
    padding: 5px;
}

a:hover {
    color: #f6ce93;
    padding: 7px;
}

a:active{
    border-bottom: 2px solid #f6ce93;
}


.hero {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}

.hero>img {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 100px;
    text-align: center;
}

.text-box {
    width: 300px;
    height: 50px;
    padding: 15px 5px; 
    border: 1px solid #222;
    margin-left: 40%;
}
.banner h2 {
    font-weight: 300;
    text-transform: uppercase;
    padding: -100px;
}

.about{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 700px;
}

.about h2 {
    font-size: 50px;
    font-weight: 300;
}

.about h3{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 300;
}

.about h2::after
{
    border: 2px solid #f6ce93;
    width: 100px;
    height: 5px;
    background-color: #f6ce93;
}
.about p {
    font-size: 20px;
    margin-top: 80px;
    padding-right: 30%;
    text-justify: auto;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.left {
    width: 40%;
    height: 100%;
    float: left;
}

.left img {
    width: 100%;
    height: 100%;
}
.right{
    width: 60%;
    height: 100%;
    padding: 20px;
    padding-left: 50px;
    float: right;
}


/****Projects****/

.projects {
    padding: 100px 50px 50px 0;
    width: 100%;
    height: auto;
    margin: 0;
}

.projects>h2 {
    font-size: 50px;
    font-weight: 300;
}

.projects>h3{
    font-size: 30px;
    font-weight: 300;
}

.line {
    width: 80%;
    margin: 40px 10%;
    height: 2px;
    background-color: #e4ceae;
}

.project-card {
    width: 75%;
    height: 600px;
    margin: 50px 12.5%;
    background-color: black;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 100%;
    display: block;
}

.description {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(255, 255, 255,1);
    color: #222;
    padding: 20px;
    padding-right: 100px;
    opacity: 0;
    transition: right 0.9s ease-in-out;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    float: right;
}

.description button{
    margin-top: 40px;
    width: 150px;
    font-size: 15px;
    color: #222;
    margin-left: 40%;
    background-color: transparent;
    border: 1px solid #222;
    padding: 15px;
    text-align: center;
    font-weight: 300;
    transition: background-color 0.5s ease-in-out;
    font-family: "Josefin Sans" ,Arial, Helvetica, sans-serif;
}

.description button:hover {
    background-color: #222;
    color: #f7f5f0;
}


.description h3 {
    font-size: 40px;
    font-weight: 300;
}

.description p {
    font-size: 20px;
    font-weight: 300;
}

.project-card:hover .description {
    opacity: 1;
    right: 0;
}

.description h3,
.description p {
    margin: 0;
}

/***\Projects***/

/***Services***/

.services{
    width: 100%;
    height: 700px;
    padding: 50px;
    background-color: #f7f5f0;
}

.services h2 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.services h3 {
    font-size: 35px;
    font-weight: 300px;
    float: left;
    padding: 50px;
    margin-left: 10%;
}

.services p {
    font-size: 20px;
    font-weight: 300;
    float: left;
    padding: 50px;
    margin-left: 10%;
}

.services img {
    width: 50%;
    float: right;
    height: 450px;
}
/**\Services***/

/***Contact***/
.contact-us{
    width: 100%;
    margin-top: 100px;
}

.contact-us h2 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.contact-us h3 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.contact-card {
    width: 70%;
    height: 400px;
    margin: 30px 15%;
    background-color: #e4ceae;
}

.contact-card>.left{
    background-image: url('images/header1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/**\Contact***/

/***Footer***/
footer {
    margin-top: 200px;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: #e4ceae;
}
/**\Footer***/
