@font-face {
    font-family: 'antipasto';
    src: url('antipasto/AntipastoPro-Thin_trial.ttf');
}

@font-face {
    font-family: 'antipasto-bold';
    src: url('antipasto/AntipastoPro-DemiBold_trial.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus{
    background-color: transparent;
}




body{
    background-color: #191818;
    color: #fff;
    font-family: 'antipasto',sans-serif;
}

header{
    background-image: url('images/header-img.png');
    background-size: cover;
    background-position:center;
    background-repeat: none;
    height: 100vh;
    width: 100%;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'antipasto',sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

/***Nav***/

nav{
    width: 100%;
    height:100px;
    background-color: transparent;
    padding: 50px 150px 0 150px;
    position: fixed;
    transition: ease-in-out 0.2s;
    z-index: 10;
}

.scrolled{
    background-color: #161616;
    padding: 30px 150px 0 150px;
    box-shadow: 1px 1px 10px #4242423d;
}

nav .logo{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
    font-family: 'antipasto-bold',sans-serif;
}

nav ul{
    float: right;
    list-style: none;
    margin: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 100;
    transition: 0.3s ease;
}

nav ul li a:hover{
    color: #fff;
    text-shadow: 0 0 5px #bbb, 0 0 10px #ccc, 0 0 15px #e0e0e0;
}

.mobile {
    display: none;
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    background: #333;
    width: 70%;
    padding: 20px;
    transition: right 1.4s ease, opacity 0.9s ease;
    opacity: 0;
    pointer-events: none;
    height: 600px;
    z-index: 2;
    align-items: center;  
    justify-content: center;
}

.mobile li {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.mobile li a {
    text-decoration: none;
}

.mobile li a:focus{
    background-color: transparent;
}

.mobile li a:hover{
    color: #fff;
    text-shadow: 0 0 5px #bbb, 0 0 10px #ccc, 0 0 15px #e0e0e0;
}

.show {
    display: flex;  /* bring back flex layout */
    right: 0;       /* show menu */
    opacity: 1;               /* fade in */
    pointer-events: auto;   
}

.menu{
    float: right;
    position: relative;
    width: 40px;
    display: none;
    z-index: 4;
}


.menu.open{
    margin-right: 20px;
}

.menu.open div:nth-child(1){
    transform: rotate(45deg)translate(10px, 5px);
}
.menu.open div:nth-child(2){
    opacity: 0;  
}
.menu.open div:nth-child(3){
    transform: rotate(-45deg)translate(7px, -6px);;
}


.bar{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 10px;
}

.menu:hover .bar{
    background-color: #504444;
    box-shadow: 1px 1px 10px #4242423d;
}
.bar:nth-child(2){
    width: 80%;
}


@media screen and (max-width: 900px){
    
    .desktop{
        display: none;     
    }

    nav {
        padding: 20px 50px 0 50px;
    }

    .scrolled{
        padding: 20px 50px 0 50px;
    }
    nav .logo {
        margin-left: 50px;
        margin-top: 15px;
    }
    .menu{
        display: block;
        cursor: pointer;
    }

}

@media screen and (max-width: 500px){
    nav{
        padding: 10px 0;
    }

    nav .logo{
        margin-left: 10px;
    }

    .scrolled{
        padding: 20px;
    }

    menu {
        margin-right: 10px;
    }
}
/***\Nav***/



/***About***/
.about{
    width: 100%;
    height: 700px;
    margin: 0;
}

.about .container{
    width: 100%;
    height: 100%;
}

.about .container .left{
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 270px; 
    background-color: #161616;
    background-image: url('images/imah.png');
    background-position: center;
    background-size: cover;
}

.about .container .left h1{
    font-size: 200px;
    text-align: center;
}


.about .container .right{
    width: 50%;
    height: 100%;
    float: right;
    background-color: #191818;
    padding: 150px 10% 0 10%;
}

.about .container .right h1{   
    font-size: 100px;
    margin-bottom: 50px;
}



@media screen and (max-width: 900px){
    .about {
        height: auto;
    }
    
    .about .container .left,.about .container .right{
        width: 100%;
        float: none;
    }

    .about .container .left h1{
        font-size: 130px;
        text-align: center;
    }

    .about .container .left {
        height: 500px;
    }
}

@media screen and (max-width: 500px){

    .about .container .left{
        padding: 50% 0;
    }
}

/***\About***/

/***Gallery***/
.gallery{
    width: 100%;
    padding-top: 100px;
    background-color: #080808;
}

.gallery h1{
    font-size: 100px;
    text-align: center;
}


.gallery-container{
    width: 100%;
    column-count: 4;
    column-gap: 15px;
    padding: 10px;
}

.gallery-container img{
    width: 100%;
    margin-bottom: 15px;
    display: block;
    break-inside: avoid;



    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.8s ease forwards;
}


.gallery p {
    margin: 0 10%;
}

.gallery button{
    margin-top: 50px;
    margin-left: 45%;
    width: 200px;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px;
    background-color: transparent;
    transition: ease-in-out 0.2s;
}

.gallery button:hover{
    background-color: #504444;
    box-shadow: 1px 1px 10px #4242423d;
    padding: 17px;
    border: #080808;
}
/* Fade + slide animation */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media(max-width: 1000px){
    .gallery-container{
        column-count: 3;
    }
}

@media (max-width: 768px){
    .gallery-container{
        column-count: 2;
    }

    .gallery button{
        margin-left: 27%;
    }
}
/**\Gallery***/

/**Contact***/
.contact{
    width: 100%;    
    padding: 100px 10% 0 10%;
}

.contact h1{
    font-size: 100px;
    text-align: center;
}

.contact p {
    margin: 10px 0;
    font-size: 70px;
}


@media (max-width: 768px){
    .contact h1{
        font-size: 70px;
    }

    .contact p{
        text-align: center;
        font-size: 40px;
        width: 100%;
    }
}
/**\Contact***/

/***Footer***/
footer{
    width: 100%;
    height: 100px;
    background-color: #080808;
    color: #fff;
    padding: 20px 0 0 0;
}

footer h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/***\Footer***/
