@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@700&display=swap');

:root {
    --white: #fff;
    --black: #313131;
    --yellow: #ffce08;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background-color: var(--white);
    font-family: 'Lato', sans-serif;

}

h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
}

/***header***/
header {
    width: 100%;
    height: 100vh;
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: 80px;
    background-color: transparent;
    border-bottom: #313131;
    padding: 3px 150px;
    position: fixed;
    z-index: 2;
    
}

nav>.logo {
    font-size: 30px;
    background-color: var(--yellow);
    float: left;
    margin-left: 70px;
    padding: 5px 20px;
    border-radius: 0 30px 30px 0;
}

nav>.logo>h2>span {
    color: var(--white);
}

nav>.logo>p {
    font-size: 10px;
    margin-top: -10px;
    margin-left: 50%;
    font-weight: 600;
}

ul {
    list-style: none;
    float: right;
    margin-top: 30px;
    margin-right: 200px;

}

ul>li {
    display: inline;
    margin: 0 10px;
}

ul>li>a {
    text-decoration: none;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
}

#navbar ul li a.black-text{
    color: #313131;
}

#navbar ul li a.black-text:hover {
    color: var(--yellow);
}

#navbar ul li a:hover {
    color: var(--yellow);
}





/* Hamburger */
  .aa-icon-bar {
    background-color: var(--yellow);
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  }
  
  .top-bar {
      width: 32px;
  }

  .middle-bar {
    height: 2.5px;
  }
  
  .bottom-bar {
      width: 32px;
  }
  
  .aa-hamburger-menu {
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 999;
    display: none;
  }
  
  .aa-hamburger-menu:hover > .aa-icon-bar {
    background-color: var(--yellow);
  }
  
  .aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    width: 22px;
    background-color: black;
  }
  
  .aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);    
  }
  
  .aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    width: 22px;
    background-color: black;
  }
  /* ./Hamburger */


 /* Mobile Overlay */
 .aa-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    overflow: auto;
    z-index: 99;
    display: none;
  }
  
  .aa-mobile-nav-items {
    padding: 0;
    margin: 60px 40px;
    text-align: center;
    list-style: none;
    float: none;
  }
  
  .aa-mobile-nav-items > li {
    display: block;
    padding-top: 30px;
  }
  
  .aa-mobile-nav-items > li > a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  
  .aa-mobile-nav-items > li > a:hover {
    color: var(--yellow);
  }
  /* ./Mobile Overlay */

.hero {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translateX(-20%)translateY(-45%);
    z-index: 1;
}

.hero h1 {
    font-size: 70px;
    color: var(--white);
    margin: 0;
    padding: 0;
}

.hero p {
    color: var(--white);
    text-align: justify;
    font-size: 18px;
}
.h-logo {
    background-color: var(--yellow);
    color: var(--black);
    padding: 0;
}

.h-logo>span {
    color: var(--white);
}

.hero h1>span {
    color: var(--yellow);
}

button {
    background-color: var(--yellow);
    padding: 10px 20px;
    font-weight: bold;
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 30px;
    margin-top: 35px;
    margin-right: 100px;
    float: right;
    transition: 0.5s;
}

button>.lni {
    font-size: 17px;
}

button:hover {
    background-color: green;
    padding: 12px 22px;
}

.wa-cta {
    width:200px;
    height: 200px;
}

.wa-cta img {
    width:100%;
    height:100%;
}

/***responsive header***/
 @media (max-width: 800px) { 
    nav {
        padding: 3px 0;
        height: 60px;
    }

    nav>.logo { 
        margin-left: 0;
        font-size: 20px;
    }

    nav>.logo>p {
        font-size:7px;
    }

    .desktop-nav {
        display: none;
    }

    .aa-hamburger-menu {
        display: block;
        padding-right: 5px;
        float: right;
      }

      .hero h1 {
        font-size: 40px;
        color: var(--white);
        margin: 0;
        margin-top: 30px;
        padding: 0;
    }
    
    .hero p {
        color: var(--white);
        text-align: justify;
        font-size: 15px;
    }

}
/**\header***/

/***About Us***/
.about {
    width: 100%;
}

.about h2 {
    font-size: 70px;
}

.about h2>span {
    color: var(--yellow);
}


.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container>.left {
    width: 50%;
    height: 100%;
    float: left;
    padding: 70px 100px;
}

.container>.left>h2 {
    margin-left: 100px;
    margin-top: 30px;
}

.container>.left>p {
    margin-left: 100px;
    margin-top: 30px;
}

.container>.right {
    width: 50%;
    height: 100%;
    float: right;
}

.container>.right>.card {
    height: 80%;
    width: 500px;
    margin: 10% 15%;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.container>.right>.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container>.right>.card>img {
    height: 95%;
    width: 100%;
}

@media (max-width: 800px) { 

    .container>.left {
        width: 100%;
        margin: 50px 0;
        padding: 20px;
        float: none;
    }

    .container>.left>h2 {
        margin-left: 10px;
        margin-top: 30px;
    }
    
    .container>.left>p {
        margin-left: 10px;
        margin-top: 30px;
    }
    

    .container>.right {
        float: none;
        width: 100%;
        margin-top: 100px;
        margin: 100px 0;
        
    }

    .container>.right>.card {
        width: 80%;
    }
}
/**\About Us***/

/***Services***/
.services {
    width: 100%;
    margin: 0;
    padding: 50px 100px;
}

.services h2 {
    font-size: 70px;
    margin-left: 45px;
}

.services h3 {
    font-size: 20px;
    margin-left: 45px;
}
.services h2>span {
    color: var(--yellow);
}

.services>.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.services>.container>.card {
  padding: 40px 20px ;
  margin: 10px;
  flex: 25%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.services>.container>.card:hover{
    background-color: #ffce08;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: var(--white);
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }

    .services>.container>.card {
        flex: 100%;

    }

    .services {
        width: 100%;
        margin: 0;
        padding: 50px 10px;
    }

    .services h2 {
        font-size: 70px;
        margin-left: 10px;
    }

    .services h3 {
        font-size: 20px;
        margin-left: 10px;
    }
  }

/**\Services***/

/***Contact***/
.contact {
    width: 100%;
    margin: 0;
    padding: 50px 100px;
}

.contact h2 {
    font-size: 70px;
    margin-left: 45px;
}

.contact h3 {
    font-size: 20px;
    margin-left: 45px;
}

.contact h2>span {
    color: var(--yellow);
}

.contact>.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.map-container {
    width: 50%;
    float: right;
}

.details-container {
    width: 50%;
    float: left;
}
.contact h3>a {
    text-decoration: none;
    font-weight: bold;
    color: var(--yellow);
}

.contact h3>a:hover {
 color: green;
}

.contact ul {
    float: none;
    width: 50%;
    margin-left: 50px;
}

.contact ul>li {
    display: block;
    margin-left: 50px;
    font-size: 20px;
    margin: 10px;;
}

.contact ul>li>i {
    background-color: #ffce08;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
}

form {
    width: 100%;
    padding: 20px;
    height: auto;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

input {
    width: 80%;
    border: none;
    padding: 10px;
    border-bottom: var(--yellow) 1px solid;
    font-weight: 300;
    outline: none;
    margin: 10px 10%;
}

textarea {
    width: 80%;
    border: none;
    padding: 10px;
    border: var(--yellow) 1px solid;
    font-weight: 300;
    outline: none;
    margin: 10px 10%;
}

input[type="button"] {
    background-color: var(--yellow);
    color: var(--white);
    border: none;
    padding: 15px;
    font-size: 20px;
    width: 50%;
    margin-left: 40%;
    border-radius: 30px;

}

input[type="button"]:hover {
    background-color: green;
}

@media (max-width: 800px) {
    .contact {
        padding: 50px;
    }

    .contact h2 {
        font-size: 70px;
        margin-left: 15px;
    }
    
    .contact h3 {
        font-size: 20px;
        margin-left: 15px;
    }


    .contact>ul {
        display: block;
        width: 100%;
        margin: 0;
    }

    .contact ul>li {
        display: block;
        margin-left: 20px;
        font-size: 20px;
        margin: 10px;
    }

    .contact ul>li>i {
        background-color: #ffce08;
        color: #fff;
        border-radius: 50%;
        padding: 15px;
    }
}
/**\Contact***/

/***footer***/
footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

footer  h3{
    font-size: 35px;
}

footer h3>span {
    color: var(--yellow);
}

footer h4 {
    font-size: 15px;
    margin-top: -10px;
}

footer p {
    margin-top: 20px;
}
/**\footer***/
